@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body {
    font-family: Ubuntu;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    transition: .3s;
    animation-timing-function: ease-in-out;
}

ul {
    list-style-type: none;
}

ul li {
    position: relative;
    width: 500px;
    height: 40px;
    line-height: 35px;
    margin-bottom: 5px;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: lightgray;
    align-self: center;
    text-align: center;
}

button {
    border-radius: 4px;
    background: none;
    border: none;
    border-color: lightgray;
    background-color: lightgray;
    padding: 5px;
    font-size: 20px;
    transition: .5s;
}

button:focus {
    outline: none;
    transition: .5s;
}

button:hover {
    background-color: lightskyblue;
}